html {
	position: relative;
}

body {
	position: relative;
	min-height: 100vh;

	overflow: auto;
	box-sizing: border-box;

	margin: 0;
	font-family: sans-serif;
}

* {
	box-sizing: inherit;
	font-family: inherit;
}

p, input, button {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

button {
	border: none;
	outline: 0;
	padding: 12px;
	cursor: pointer;
	user-select: none;
}

ul {
	list-style-type: none;
	padding: 0;
}
