$neutral-000: #ffffff
$neutral-050: #f0f4f8
$neutral-100: #d9e2ec
$neutral-200: #bcccdc
$neutral-300: #9fb3c8
$neutral-400: #829ab1
$neutral-500: #5d7893
$neutral-600: #486581
$neutral-700: #334e68
$neutral-800: #243b53
$neutral-900: #102a43
$neutral-950: #081e38
$neutral-1000:#000000

$accent-000: #FFFFFF
$accent-050: #E0E8F9
$accent-100: #BED0F7
$accent-200: #98AEEB
$accent-300: #7B93DB
$accent-400: #647ACB
$accent-500: #4C63B6
$accent-600: #4055A8
$accent-700: #35469C
$accent-800: #2D3A8C
$accent-900: #19216C
$accent-950: #0D1450
$accent-1000:#080C38

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap')

@charset "utf-8"
@font-face
  font-family: Game
  src: url(/app/static/aesymatt.ttf) format("truetype")

$font-header: "Game", "Roboto", sans-serif
$font-main: "Roboto", sans-serif

$t-ufast: 0.075s
$t-fast: 0.15s
$t-med: 0.3s
$t-slow: 0.5s

$wrap-wide: 1400px

$m-wide: 1400px
$m-med: 1000px
$m-small: 600px
