doctype html
html
	body
		form(method="post", enctype="multipart/form-data")
			input(type="file", name="files", multiple, required)
			input(name="temp", value="TESTING")
			button(type="submit") Submit
