doctype html
html(lang="en")
	head
		include includes/head.pug
		link(rel="stylesheet", href="/public/style/build/css/overview.css")
		title Campaigns &bullet; Virtual Dungeon
	body
		header
			.wrap_wide
				h1 
					span.brand Virtual Dungeon
					| &nbsp;&nbsp;&bullet;&nbsp;&nbsp;
					span.welcome Hello, #{username}.
				button#log_out Log Out
			
		main
			.wrap_wide
				h1 My Campaigns
				ul#campaigns_list
					each camp in campaigns
						li 
							a(href="/campaigns/" + camp.identifier) #{camp.name}
					
					li
						form#new
							input(type="text", name="new_input")
							button +
							#warning

		script.
			document.getElementById('log_out').addEventListener('click', () => {
				Cookies.remove('tkn');
				location.reload();
			});
	
			const form = document.getElementById("new");
			const input = document.querySelector("input[name=new_input]");
			const err = document.getElementById("warning");

			let reqSent = false;
			form.addEventListener('submit', (e) => {
				if (!reqSent) {
					reqSent = true;
					err.innerText = "";
					
					const name = input.value;

					const xhr = new XMLHttpRequest();
					xhr.open("POST", "/campaigns/new", true);
					xhr.setRequestHeader('Content-Type', 'application/json');

					xhr.onload = function() {
						reqSent = false;
						if (xhr.status != 200) {
							err.innerText = this.responseText;
						}
						else {
							input.value = "";
							let list = document.createElement('li');
							list.innerHTML = `<a href="/campaigns/${this.responseText}"></a>`;
							list.querySelector('a').innerText = name;
							document.getElementById('campaigns_list').insertBefore(list, document.querySelector('#campaigns_list > li:last-child'));
						}
					}

					xhr.send(JSON.stringify({ 
						name: name 
					}));
				}

				e.preventDefault();
				return false;
			});
