doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="/public/tool/index.css")

		script(src="/socket.io/socket.io.js")
		script(src="/public/tool/phaser.min.js")

		script(src="/public/tool/socket.js")
		script(src="/public/tool/tool.js")
	body
		div#root
