@use '../../../style/text'
@use '../../../style/slice'
@use '../../../style/def' as *

.LayerMenu
	overflow: hidden
	
	.LayerMenu-Top
		display: flex
		gap: 6px

		.LayerMenu-Actions
			flex-grow: 0
			flex-shrink: 0

			.Button
				width: 60px

		h1
			margin: 0px 0
