@use '../../../style/text'
@use '../../../style/slice'
@use '../../../style/def' as *

.LayerManager
	display: grid
	grid-gap: 6px
	grid-template-columns: 1fr
	position: fixed
	top: 6px
	right: 6px
	width: 230px
	height: auto

	transition: width 0.2s, right 0.2s

	&.Collapsed
		width: 41px
		right: -6px

	.LayerManager-Layer
		@include text.line_clamp

		outline: 0
		border: none
		font: inherit
		text-align: left
		background-color: transparentize(#000, 0.8)

		&.Active
			background-color: transparentize(#fff, 0.8)

	.ButtonGroup
		width: 100%
		display: flex

		.Button
			flex-grow: 1
			flex-shrink: 1

			img
				margin: -15px -24px
