@use '../../style/text'
@use '../../style/grid'
@use '../../style/def' as *

.AssetList
	max-width: 1000px
	display: block
	margin: 0 auto

	.AssetList-Grid
		@include grid.auto_width(160px, 6px)

		.AssetList-AssetWrap
			.AssetList-Asset
				height: 0
				width: 100%
				display: grid
				position: relative
				
				border: none
				overflow: hidden
				user-select: none
				border-radius: 4px
				padding-bottom: 100%
				text-decoration: none
				background: transparent

				.AssetList-AssetInner
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					display: grid
					grid-template-rows: 1fr auto

					background-color: $neutral-100

					.AssetList-AssetPreview
						position: relative
						padding: 8px
						overflow: hidden
							
						img
							width: 100%
							height: 100%

							user-select: none
							object-fit: contain
							pointer-events: none
							image-rendering: crisp-edges
							image-rendering: pixelated

					.AssetList-AssetTitle
						@include text.line_clamp

						margin: 0
						padding: 12px
			
						font-size: 18px
						border-radius: 4px
						background-color: $neutral-150

			.AssetList-NewAsset
				width: 100%
				display: flex
				user-select: none
				flex-direction: column
				justify-content: center
				align-items: center

				.AssetList-AssetInner
					.AssetList-AssetPreview
						display: flex
						align-items: center
						justify-content: center

						img
							width: 80px
							height: 80px
							image-rendering: crisp-edges
							image-rendering: pixelated
