@use '../../style/ext'
@use '../../style/text'
@use '../../style/slice'
@use '../../style/def' as *

.PlayerList
	@extend %card
	max-width: 1000px
	margin: 0 auto

	.PlayerList-Title
		@include text.line_clamp

		margin-top: 0
		margin-bottom: 8px
		padding-right: 6px

		font-weight: 500
		font-size: 34px
		font-family: $font-header

	.PlayerList-List
		list-style-type: none
		padding: 0
		margin: 0

		.PlayerList-PlayerWrap
			@extend .slice_outline_neutral
			margin-bottom: 6px

			.PlayerList-Player
				@include slice.slice_invert
				padding: 9px
				display: grid
				grid-gap: 12px
				grid-template-columns: #{18px * 5} 1fr

				.PlayerList-PlayerImageWrap
					@extend .slice_highlight_neutral
					
					width: 18px * 5
					height: 18px * 5

					.PlayerList-PlayerImage
						@include slice.slice_invert

						background-size: #{18px * 5 * 2} #{18px * 5 * 2}
						background-position: top left
						image-rendering: crisp-edges
						image-rendering: pixelated

				.PlayerList-PlayerName
					font-size: 30px
					margin: 8px 0
	
	.PlayerInviteForm:not(:first-child)
		margin-top: 32px
