@use '../../../style/text'
@use '../../../style/slice'
@use '../../../style/def' as *

.TokenCards
	display: flex
	grid-gap: 6px
	position: fixed
	height: 48px
	bottom: 0
	left: 6px
	right: 6px

	pointer-events: none
	will-change: transform
	transition: bottom $t-fast

	&:hover
		.TokenCard
			top: -32px

			.TokenCard-Name
				margin-top: 0 !important

			.TokenCard-Thumbnail
				margin-top: 1px * 3

	.TokenCard
		@extend .slice_background
		position: relative
		width: 340px
		height: 450px
		top: 0px

		pointer-events: initial
		transition: top $t-fast

		.TokenCard-Pin
			position: absolute
			top: 4px * 3
			right: -1px * 3
			width: 12px * 3
			height: 12px * 3
			padding: 0
			margin: 0

			opacity: 0
			border: none
			outline: none
			background-size: cover
			image-rendering: crisp-edges
			image-rendering: pixelated
			background-color: transparent
			background-image: url(/app/static/icon/pin_up.png)

		&:hover, &:focus-within, &.Pinned
			top: -406px
			transition: top $t-med

			.TokenCard-Pin
				opacity: .5

				&:hover, &:focus-visible
					opacity: 1

			.TokenCard-Name
				margin-top: 12px !important

			.TokenCard-Synopsis
				opacity: 0 !important

			.TokenCard-Thumbnail
				margin-top: 1px * 3

			&.Pinned
				.TokenCard-Pin
					background-image: url(/app/static/icon/pin_down.png)
					opacity: 1

					&:hover, &:focus-visible
						opacity: .5

		.TokenCard-Inner
			@include slice.slice_invert(3, 4px)

		.TokenCard-Top
			display: grid
			grid-gap: 9px
			height: 19px * 3

			overflow: hidden
			margin: 2px * 3 0
			grid-template-columns: #{18px * 3} 1fr

			.TokenCard-Thumbnail
				@extend .slice_highlight

				width: 18px * 3
				height: 18px * 3

				transition: margin $t-fast

				.TokenCard-ThumbnailInner
					@include slice.slice_invert
					padding: 1px * 3

					background-position: 1px * 3 1px * 3
					background-clip: content-box
					image-rendering: crisp-edges
					image-rendering: pixelated

			.TokenCard-TopDetails
				width: 100%
				overflow: hidden

				.TokenCard-Name
					@include text.line_clamp
					margin: -6px 0 0 0

					color: $neutral-1000
					transition: margin $t-fast

				.TokenCard-Synopsis
					@include text.line_clamp
						
					margin: 3px 0
					
					opacity: 1
					color: $accent-200
					transition: opacity $t-fast
		
		.TokenCard-Sliders
			display: grid
			grid-gap: 6px
			margin-top: 15px

			.TokenCard-NewSlider
				@extend .slice_highlight

				span
					display: block
					margin: -10px


		.TokenCard-Note
			margin-top: 15px
			padding: 6px
			border-color: $accent-300
			background-color: transparent

			color: $neutral-1000

			&:focus
				border-color: $accent-050

			&::placeholder
				color: $accent-300

.TokenSlider
	display: flex
	gap: 6px

	.TokenSlider-IconWrap
		@extend .slice_highlight

		.TokenSlider-Icon
			@include slice.slice_invert
			width: 36px
			height: 36px

			border-radius: 0
			background-size: 900%
			image-rendering: crisp-edges
			image-rendering: pixelated
			background-image: url(/app/static/icon/slider_icons.png)
	
	.TokenSlider-Slider
		@extend .slice_outline_white
		flex-grow: 1

		.TokenSlider-SliderInner
			@include slice.slice_invert
			border-radius: 0
			position: relative

			.TokenSlider-Bar
				position: absolute
				height: calc(100% - 6px)
				clip-path: polygon(0 3px, 3px 3px, 3px 0, calc(100% - 3px) 0, calc(100% - 3px) 3px, 100% 3px, 100% calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 3px 100%, 3px calc(100% - 3px), 0 calc(100% - 3px))

			.TokenSlider-BarContent
				position: absolute
				display: flex
				justify-content: center
				top: 0
				left: 0
				width: 100%
				height: 100%
				padding: 6px

				.TokenSlider-Input
					padding: 0 2px
					margin: 0
					outline: 0
					border: none
					background: transparent

					height: 24px

					&:focus
						background: transparentize(black, .8)

				.TokenSlider-Title
					width: 100%
					flex-shrink: 1
					min-width: 0

				.TokenSlider-BarText
					font-weight: 500
					color: $neutral-1000
					text-shadow: 0px 1px 2px $accent-800, 0px 1px 4px transparentize($accent-800, 0.8)

				.TokenSlider-Value, .TokenSlider-Max
					width: min-content

				span
					opacity: .6
					padding: 3px

.SlideNumericInput-Tester
	position: absolute !important
	top: -10000 !important
	left: -10000 !important
	opacity: 0 !important
